
<!--Header-->
<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title class="text-center">
      Portal registro Duoc UC
    </ion-title>
  </ion-toolbar>
</ion-header>
<!--Header-->

<ion-content [fullscreen]="true">
  <div class="absolute ml-6 mr-6 mt-28">
    <img src="assets/img/DUOC-PNG.png" height="450px" width="450px" alt="duoc" (click)="envioAlHome()">
  </div>
  <form class="bg-slate-300 rounded-3xl ml-6 mr-6 shadow-xl mt-60 py-2 pt-5">
    <div class="">
    <p class="text-2xl text-center font-semibold w-10/12 mx-auto text-black" >Por favor rellene los siguientes datos con su informacion.</p>
  </div>
  <ion-input type="text" name="Nombre" color="warning" label="Nombre" labelPlacement="floating" fill="outline" required class="font-bold w-8/12 mx-auto text-center mt-5 text-black"></ion-input>
  <ion-input type="text" name="apellido" color="warning" label="Apellido" labelPlacement="floating" fill="outline" required class="font-bold w-8/12 mx-auto text-center mt-2 text-black"></ion-input>
  <ion-input type="text" name="rut" color="warning" label="Rut" labelPlacement="floating" fill="outline" required class="font-bold w-8/12 mx-auto text-center mt-2 text-black"></ion-input>
  <ion-input type="email" name="correo" color="warning" label="Correo institucional" labelPlacement="floating" fill="outline" required class="font-bold w-8/12 mx-auto text-center mt-2 text-black"></ion-input>
  <div class="mt-3 mb-3 mx-auto text-center">
    <ion-button shape="round" color="warning">agregar</ion-button>
    <ion-button shape="round" color="primary" (click)="envioAlHome()" >Cancelar</ion-button>
  </div>
</form>
</ion-content>
<!--Footer-->
<ion-footer [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title class="text-center">
      © Duoc UC 2024
    </ion-title>
  </ion-toolbar>
</ion-footer>