<!-- HEADER -->
<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title class="text-center flex items-center">
      <ion-icon name="finger-print" class=" align-middle"></ion-icon>
      Portal de ayuda RegistrAPP
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- FIN DEL HEADER -->

<!-- CONTENIDO PRINCIPAL -->
<ion-content [fullscreen]="true">
  <div class="absolute ml-10 mr-6 mt-48">
    <img src="assets/img/DUOC-PNG.png" height="400px" width="400px" alt="duoc" (click)="Envio_Home()">
  </div>
  <form class="shadow-xl rounded-3xl bg-slate-300 ml-6 mr-3 mt-72 py-2 pt-6">
    <div class="">
      <p class=" text-center font-semibold text-2xl w-10/12 mx-auto text-black">Ingrese su nueva contraseña</p>
    </div>
    <div>
      <ion-input [(ngModel)]="contra1" name="password1" type="password" color="warning" label="Nueva contraseña"
        labelPlacement="floating" fill="outline" required
        class="font-bold w-8/12 mx-auto text-center mt-2 text-black"></ion-input>
      <ion-input name="password2" type="password" color="warning" label="Repita su contraseña" labelPlacement="floating"
        fill="outline" required class="font-bold w-8/12 mx-auto text-center mt-2 text-black"></ion-input>
    </div>
    <div class="text-center mt-2 mb-2">
      <ion-button shape="round" color="primary" (clikc)="btnCambiar()">Cambiar</ion-button>
      <ion-button shape="round" color="warning" (click)="btnCancelar()">Cancelar</ion-button>
    </div>
  </form>
</ion-content>
<!-- CONTENIDO PRINCIPAL FINAL -->
<!-- INICIO FOOTER -->
<ion-footer [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title class="text-center">© Duoc UC 2024</ion-title>
  </ion-toolbar>
</ion-footer>
<!-- FIN DEL FOOTER -->