
<!-- HEADER INICIO -->
<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title class="text-center">
      Portal de recuperacion Duoc UC
    </ion-title>
  </ion-toolbar>
</ion-header>
<!-- HEADER FINAL-->

<!-- CONTENIDO PRINCIPAL -->
<ion-content [fullscreen]="true">
  <div class="absolute ml-5 mr-5 mt-5">
    <img src="assets/img/DUOC-PNG.png" height="300px" width="250px" alt="duoc" (click)="envioAlHome()"> 
  </div>
  <form class=" marco_blano bg-slate-300 rounded-3xl ml-6 mr-6 shadow-xl"> <!-- FONDO BLANCO -->
    <div class="mt-56 pt-10">
      <p class="text-2xl text-center font-semibold w-10/12 mx-auto text-black pPrincipal" >Recupera tu contraseña</p>
    </div>
    <div>
      <ion-input [(ngModel)]="recuperacionCorreo" name="correo" type="email" color="warning" label="Correo:" labelPlacement="fixed"  required="" class="font-bold w-9/12 mx-auto text-center mt-5 text-black"></ion-input>
    </div>
    
      <div class="container mt-1 mx-auto text-right">
        <ion-button shape="round" color="warning" (click)="btnBuscar">Buscar</ion-button>
        <ion-button shape="round" color="tertiary" (click)="btnCancelar()">Cancelar</ion-button>
      </div>
      
  </form>
</ion-content>
<!-- FIN DEL CONTENIDO PRINCIPAL -->

<!-- FOOTER INICIO -->
<ion-footer [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title class="text-center">
      © Duoc UC 2024
    </ion-title>
  </ion-toolbar>
</ion-footer>
<!-- FOOTER FIN  -->