<ion-app>
  <!-- Menú lateral -->
  <ion-menu contentId="main-content" side="start" class=" bg-opacity-80 backdrop-filter backdrop-blur-lg">
    <ion-header class="ion-no-border">
      <ion-toolbar class="bg-transparent">
        <div class="flex justify-center items-center p-4">
          <img src="assets/img/logo_duoc_white.png" class="w-32 h-auto" alt="duoc" />
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content class="bg-transparent">
      <ion-list lines="none" class="px-4 py-6 bg-transparent">
        <ion-item routerLink="/principal" routerDirection="root" detail={false} class="mb-4 bg-transparent">
          <ion-icon slot="start" name="home-outline" color="primary" class="text-xl"></ion-icon>
          <ion-label class="font-medium">Inicio</ion-label>
        </ion-item>
        <ion-item routerLink="/asistencia-page" routerDirection="root" detail={false} class="mb-4 bg-transparent">
          <ion-icon slot="start" name="qr-code-outline" color="primary" class="text-xl"></ion-icon>
          <ion-label class="font-medium">Leer QR</ion-label>
        </ion-item>
        <ion-item routerLink="/profile" routerDirection="root" detail={false} class="mb-4 bg-transparent">
          <ion-icon slot="start" name="person-outline" color="primary" class="text-xl"></ion-icon>
          <ion-label class="font-medium">Perfil Estudiantil</ion-label>
        </ion-item>
        <ion-item routerLink="/soporte" routerDirection="root" detail={false} class="mb-4 bg-transparent">
          <ion-icon slot="start" name="hammer-outline" color="primary" class="text-xl"></ion-icon>
          <ion-label class="font-medium">Soporte</ion-label>
        </ion-item>
        <ion-item (click)="logout()" detail="false" class="mb-4 bg-transparent">
          <ion-icon slot="start" name="log-out-outline" color="primary" class="text-xl"></ion-icon>
          <ion-label class="font-medium">Cerrar Sesión</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Contenido principal -->
  <ion-router-outlet id="main-content"></ion-router-outlet>
  
  <ion-header [translucent]="true" mode="ios">
    <ion-toolbar class="bg-gradient-to-r from-blue-900 to-blue-700">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="text-center flex items-center text-xl">
        <ion-icon name="person" class="text-xl mb-1 align-middle"></ion-icon>
        Perfil Estudiantil
      </ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content [scrollY]="false" class="bg-gray-800 p-4">
    <div *ngIf="!editMode">
      <div class="h-screen flex items-center justify-center">
        <div class="bg-gray-800 rounded-2xl mr-4 ml-4 mb-20 p-6 max-w-md w-full mx-auto">
          <div class="flex flex-col items-center">
            <img src="{{student?.picture}}" alt="Foto de perfil" class="w-36 h-36 rounded-full border-4 border-blue-500">
            <h2 class="text-3xl font-bold text-white mb-2 text-center">{{student?.name}} {{student?.lastname}}</h2>
            <div class="mt-4 w-full">
              <h3 class="text-xl mb-2 font-semibold text-white">Datos Institucionales</h3>
              <p class="text-lg text-gray-400 flex justify-between">
                <span class="font-semibold">Correo Electrónico:</span>
                <span class="font-medium text-white">{{student?.email}}</span>
              </p>
              <p class="text-lg text-gray-400 flex justify-between mt-2">
                <span class="font-semibold">Nombre de usuario:</span>
                <span class="font-medium text-white">{{student?.username}}</span>
              </p>
              <p class="text-lg text-gray-400 flex justify-between mt-2">
                <span class="font-semibold">Carrera:</span>
                <span class="font-medium text-white">{{student?.carrera}}</span>
              </p>
              <p class="text-lg text-gray-400 flex justify-between mt-2">
                <span class="font-semibold">Sede:</span>
                <span class="font-medium text-white">{{student?.sede}}</span>
              </p>
              <h3 class="text-xl font-semibold text-white mt-6">Datos personales</h3>
              <p class="text-lg text-gray-400 flex justify-between mt-2">
                <span class="font-semibold">Identificador:</span>
                <span class="font-medium text-white">{{student?.identificador}}</span>
              </p>
              <p class="text-lg text-gray-400 flex justify-between mt-2">
                <span class="font-semibold">Género:</span>
                <span class="font-medium text-white">{{student?.gender}}</span>
              </p>
              <p class="text-lg text-gray-400 flex justify-between mt-2">
                <span class="font-semibold">Teléfono celular:</span>
                <span class="font-medium text-white">{{student?.telefono}}</span>
              </p>
              <p class="text-lg text-gray-400 flex justify-between mt-2">
                <span class="font-semibold">Dirección:</span>
                <span class="font-medium text-white">{{student?.address}}</span>
              </p>
            </div>
            <ion-button class="mt-6 inline-flex items-center space-x-2 transition duration-300 ease-in-out transform hover:scale-105 w-full"
              expand="full" fill="outline" shape="round" (click)="cambiarEditMode()">
              <ion-icon slot="start" name="create" class="mb-1"></ion-icon>
              <span>Editar perfil</span>
            </ion-button>
          </div>
        </div>
      </div>
    </div>

    <!-- Modo edición encendido -->
    <div *ngIf="editMode" class="min-h-screen flex items-center mr-4 ml-4 justify-center overflow-hidden">
      <div class="bg-gray-800 rounded-xl mb-20 p-6 max-w-md w-full">
        <div class="flex flex-col items-center">
          <!-- Imagen de perfil -->
          <div class="relative group w-36 h-36" (click)="takePicture()">
            <div class="absolute inset-0 rounded-full border-4 border-blue-500 overflow-hidden">
              <ion-img [src]="student?.picture" alt="Foto de perfil"
                class="w-full h-full object-cover transition duration-200 ease-in-out group-hover:opacity-35"></ion-img>
            </div>
            <ion-icon name="pencil"
              class="absolute inset-0 flex items-center justify-center opacity-75 transition-opacity duration-200 ease-in-out group-hover:opacity-100 text-white"
              style="font-size: 24px; bottom: 8px; right: 8px;"></ion-icon>
          </div>
          <!-- Imagen de perfil -->
          <div class="mt-4 w-full">
            <ion-label class="text-white mt-1">Ingresa tu nombre de usuario:</ion-label>
            <ion-input [(ngModel)]="student!.username" type="text" 
              class="mb-3 w-full rounded-md shadow-md bg-gray-700 text-white placeholder-gray-400 transition duration-300 ease-in-out focus:bg-gray-600 focus:ring-2 focus:ring-blue-500"></ion-input>
            <ion-label class="text-white mt-1">Ingresa tu número de teléfono:</ion-label>
            <ion-input [(ngModel)]="student!.telefono" type="text" 
              class="mb-3 w-full rounded-md shadow-md bg-gray-700 text-white placeholder-gray-400 transition duration-300 ease-in-out focus:bg-gray-600 focus:ring-2 focus:ring-blue-500"></ion-input>
            <ion-label class="text-white mt-1">Ingresa tu dirección:</ion-label>
            <ion-input [(ngModel)]="student!.address" type="text" 
              class="mb-3 w-full rounded-md shadow-md bg-gray-700 text-white placeholder-gray-400 transition duration-300 ease-in-out focus:bg-gray-600 focus:ring-2 focus:ring-blue-500"></ion-input>
            <ion-label class="text-white mt-1">Ingresa tu género:</ion-label>
            <ion-input [(ngModel)]="student!.gender" type="text" 
              class="mb-3 w-full rounded-md shadow-md bg-gray-700 text-white placeholder-gray-400 transition duration-300 ease-in-out focus:bg-gray-600 focus:ring-2 focus:ring-blue-500"></ion-input>
          </div>
          <!-- Botón Guardar Cambios -->
          <ion-button
            class="mt-4 mb-2 inline-flex items-center space-x-2 transition duration-300 ease-in-out transform hover:scale-105 w-full"
            expand="full" fill="outline" shape="round" (click)="alertaCambios()">
            <ion-icon slot="start" name="create" class="mb-1"></ion-icon>
            <span>Guardar Cambios</span>
          </ion-button>
          <!-- Botón Cancelar -->
          <ion-button class="mt-4  inline-flex items-center space-x-2 transition duration-300 ease-in-out transform hover:scale-105 w-full"
            expand="full" fill="outline" shape="round" color="danger" (click)="cambiarEditMode()">
            <ion-icon slot="start" name="close" ></ion-icon>
            <span>Cancelar</span>
          </ion-button>
        </div>
      </div>
    </div>
    
  </ion-content>

  <!-- Footer -->
  <ion-footer [translucent]="true" mode="ios">
    <ion-toolbar class="bg-gradient-to-r from-blue-900 to-blue-700">
      <ion-title class="text-center text-xl">
        © Duoc UC 2024
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-app>
