// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    --ion-color-custom: #ffff; 
    --ion-color-custom-rgb: 40, 61, 59; 
    --ion-color-custom-contrast: #ffffff;
  }
  :root {
    --ion-color-custom: #ffff;
    --ion-color-custom-rgb: 40, 61, 59;
    --ion-color-custom-contrast: #ffffff;
  }
  
  