<ion-app class="bg-white">
  <!-- Menú lateral -->
  <ion-menu contentId="main-content" side="start" class="bg-opacity-90 backdrop-filter backdrop-blur-lg">
    <ion-header class="ion-no-border">
      <ion-toolbar class="bg-transparent shadow-lg">
        <div class="flex justify-center items-center p-4">
          <img src="assets/img/logo_duoc_white.png" class="w-32 h-auto" alt="duoc" />
        </div>
      </ion-toolbar>
    </ion-header>
    <ion-content class="bg-transparent">
      <ion-list lines="none" class="px-4 py-6 bg-transparent">
        <ion-item routerLink="/principal" routerDirection="root" detail="false" class="mb-4">
          <ion-icon slot="start" name="home-outline" color="primary" class="text-xl"></ion-icon>
          <ion-label class="font-medium text-[#283D3B]">Inicio</ion-label>
        </ion-item>
        <ion-item routerLink="/asistencia-page" routerDirection="root" detail="false" class="mb-4">
          <ion-icon slot="start" name="qr-code-outline" color="primary" class="text-xl"></ion-icon>
          <ion-label class="font-medium text-[#283D3B]">Leer QR</ion-label>
        </ion-item>
        <ion-item routerLink="/profile" routerDirection="root" detail="false" class="mb-4">
          <ion-icon slot="start" name="person-outline" color="primary" class="text-xl"></ion-icon>
          <ion-label class="font-medium text-[#283D3B]">Perfil Estudiantil</ion-label>
        </ion-item>
        <ion-item routerLink="/soporte" routerDirection="root" detail="false" class="mb-4">
          <ion-icon slot="start" name="hammer-outline" color="primary" class="text-xl"></ion-icon>
          <ion-label class="font-medium text-[#283D3B]">Soporte</ion-label>
        </ion-item>
        <ion-item (click)="logout()" detail="false" class="mb-4">
          <ion-icon slot="start" name="log-out-outline" color="primary" class="text-xl"></ion-icon>
          <ion-label class="font-medium text-[#283D3B]">Cerrar Sesión</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <!-- Contenido principal -->
  <ion-router-outlet id="main-content"></ion-router-outlet>

  <!-- Header -->
  <ion-header [translucent]="true" mode="ios">
    <ion-toolbar class="bg-gradient-to-r from-[#197278] to-[#C44536]">
      <ion-buttons slot="start">
        <ion-menu-button class="text-white"></ion-menu-button>
      </ion-buttons>
      <ion-title class="text-xl text-center flex items-center text-white">
        <ion-icon name="qr-code-outline" class="text-xl mb-1 align-middle"></ion-icon>
        Registrar Asistencia
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Saludo de Bienvenida -->
  <ion-content class="text-center bg-[#EDDDD4]" [scrollY]="false">
    <!-- Imagen en el menú principal -->
    <div class="menu-content block rounded-xl max-w-[350px] h-auto my-5 mx-auto">
      <ion-img class="backdrop-blur-sm" src="assets/img/asistencia.jpg"></ion-img>
    </div>
    <div class="bg-[#283D3B] rounded-2xl mr-3 ml-3">
      <div class="container mx-auto p-4 mt-4 rounded-lg">
        <h2 *ngIf="!NoDisponible" class="text-2xl font-bold mb-5 text-white">
          Clases disponibles para <strong class="text-[#C44536]">{{correo}}</strong>
        </h2>
        <h2 *ngIf="NoDisponible" class="text-2xl font-bold mb-5  text-[#C44536] animate-pulse">
          <span class="text-[#C44536]">¡Ups!</span> No tienes clases disponibles <strong
            class="text-[#edddd4] ">{{correo}}</strong>
        </h2>

        <div *ngIf="!NoDisponible">
          <p class="text-[#EDDDD4] mb-2">Seleccione la clase a registrar:</p>
          <ion-item class="mb-4 border rounded-md ">
            <ion-select label="Clases Inscritas" [(ngModel)]="claseSeleccionada" [disabled]="desabilitarSelectClases"
              (ionChange)="cambiarSelectedMode()" placeholder="Escoge una clase" class="rounded-md">
              <ion-select-option *ngFor="let clase of clases" [value]="clase">
                {{clase.nombre}} - {{clase.classId}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>

        <div *ngIf="NoDisponible">
          <p class="text-lg font-bold text-center text-[#C44536] mb-4">
            Parece que ya has registrado tu asistencia para todas tus clases el dia de hoy intenta mañana.
          </p>
          <ion-button routerLink="/soporte" routerDirection="root" class="mt-2" expand="block" fill="solid"
            shape="round">
            <ion-icon name="hammer-outline" class="text-xl mr-2 align-middle"></ion-icon>
            Contactar soporte
          </ion-button>
        </div>

        <div *ngIf="!hayHorariosDisponibles">
          <p class="text-red-600 font-bold text-xl">
            <span class="text-[#C44536]">¡Precaucion!</span> No hay horarios disponibles para la clase seleccionada o la
            clase ya ha terminado.
          </p>
        </div>

        <div *ngIf="hayHorariosDisponibles && !NoDisponible">
          <p class="text-[#EDDDD4] mb-2">Seleccione el horario de la clase:</p>
          <ion-item class="mb-4 border rounded-md">
            <ion-select label="Horario disponible" [(ngModel)]="horarioSeleccionado" placeholder="Escoge el horario"
              (ionChange)="hayHorario()">
              <ion-select-option *ngFor="let horario of claseSeleccionada?.horarios" [value]="horario">
                {{horario}}
              </ion-select-option>
            </ion-select>
          </ion-item>
        </div>
      </div>
    </div>

    <div class="container" *ngIf="hayHorarioDisponible && !NoDisponible">
      <ion-button (click)="scan()"
        class="mt-6 hover:bg-[#197278] text-white font-bold py-2 px-4 rounded-full shadow-lg transition duration-300 ease-in-out transform hover:-translate-y-1 hover:scale-105"
        expand="block">
        <ion-icon class="mr-2 text-xl" name="camera"></ion-icon>
        <ion-label class="text-lg">Abrir cámara & Escanear</ion-label>
      </ion-button>
    </div>
  </ion-content>

  <!-- Footer -->
  <ion-footer [translucent]="true" mode="ios">
    <ion-toolbar class="bg-gradient-to-r from-[#197278] to-[#C44536]">
      <ion-title class="text-center text-white text-xl">
        © Duoc UC 2024
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-app>