<!--Header-->
<ion-header [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-app>
      <ion-menu contentId="main-content">
        <ion-header>
          <ion-toolbar color=#012C56>
            <div class="menu-header-background">
              <img src="assets/img/logo_duoc_white.png" height="250px" width="250px" alt="duoc">
            </div>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">This is the menu content.</ion-content>
      </ion-menu>
      <div class="ion-page" id="main-content">
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
            <ion-title>
              <ion-icon name="qr-code-outline"></ion-icon>
              Asistencia Duoc UC
            </ion-title>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">Tap the button in the toolbar to open the menu.</ion-content>
      </div>
    </ion-app>
  </ion-toolbar>
</ion-header>

<!--Main Content-->
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Principal</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<!--Footer-->
<ion-footer [translucent]="true" mode="ios">
  <ion-toolbar>
    <ion-title class="text-center">
      © Duoc UC 2024
    </ion-title>
  </ion-toolbar>
</ion-footer>
